* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/morocco-blue.png);
    height: 100%;
    font-family: 'Gochi Hand', cursive;
}
.jumbotron-fluid {
    font-size: 32px;
    color: grey;
    background-color: aliceblue;
    
}
.info {
    font-size: 26px;
    padding: 10px;
    margin: 15px 400px;
    color: rgb(12, 145, 185);
}